body {
    height: 100svh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.wrapper {
    width: 70rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-nav {
    display: flex;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
}

.header-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.hero-container {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
    gap: 64px;
}

.hero-main-header {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.3em;
    color: #f9faf8;
    margin: 0;
}

.hero-main-text {
    color: #e5e7eb;
    font-size: 18px;
    margin: 24px 0;
    max-width: 50ch;
}

.button {
    background-color: #3882f6;
    padding: 8px 16px;
    color: #f9faf8;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}

.info-container {
    display: flex;
    justify-content: center;
    padding: 64px 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 48px;
}

.info-card-container {
    display: flex;
    gap: 32px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box {
    border: 3px solid #3882f6;
    height: 128px;
    width: 128px;
    border-radius: 8px;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 64px 0;
}

.quote p {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}

.quotee {
    display: block;
    text-align: right;
    font-size: 18px;
    font-weight: 700;
}
